#main * {
    text-align: center;
}

.choices {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.choice {
    width: 200px;
    height: 200px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    /* Text properties to be removed */
    line-height: 200px;
}